*{
    margin: 0;
    padding: 0;
    color: white;
}
body{
    background:  url('bg.png') no-repeat center center/cover;
    height: 100vh;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    padding: 7px;
    margin: 5px;
    width: 25%;
    text-align: center;
}
.user{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.fa-user{
    font-size: 30px;
    margin-right: 11px;
}
input{
    background: transparent;
    width: 73%;
    margin: 9px;
    border: none;
    border-bottom: 1px solid brown;
    outline: none;
    font-size: 1rem;

}
.btn{
    padding: 3px 33px;
    border-radius: 16px;
    background: transparent;
    border: 1px solid brown;
    margin: 25px;
    font-size: 15px;
}
.btn:hover{
    background: brown;
    color: white;
}
